body {
  background-color: #202020;
}

.container {
  height: 800px;
  width: 800px;
  margin: 0 auto;
  margin-top: 24px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.new-grid-btn {
  display: block;
  margin: 24px auto;
}
